@import "~@fluentui/react/dist/sass/References.scss";

.itemCell span {
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.itemCell span:hover {
  letter-spacing: 1px;
}
